.hBodyContainer{
    color: white;
    margin: 20px 80px;
}
.firstBodyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 90px;
}
.bheading {
    font-size: 40px;
}
.btext {
    font-size: 22px;
}
.secondBodyContainer{
    display: grid;
    color: white;
  
    grid-template-areas: 
    "sbcFirst sbcSecond sbcSecond sbcThird"
    "sbcFirst sbcFourth sbcFourth sbcFourth"
    "sbcFirst sbcFifth sbcFifth sbcSixth";
    gap: 10px;
    
        height: 388px;
        font-size: 28px;
        padding: 17px;
}
.sbcFirst{
    grid-area: sbcFirst;
    height: 412px;
        width: 267px;
        border-radius: 20px;
}
.sbcSecond{
    grid-area: sbcSecond;
    background-color:#6C9ADF
}
.sbcThird{
    grid-area: sbcThird;
    background-color:#62449B ;
}
.sbcFourth{
    grid-area: sbcFourth;
    background-color: #61B9B3;
}
.sbcFifth{
    grid-area: sbcFifth;
    background-color: #7F85A8;
}
.sbcSixth{
    grid-area: sbcSixth;
    background-color:#917CBA ;
    border-radius: 20px;
}
.gridImage{
    height: 412px;
        width: 267px;
        border-radius: 20px;
        object-fit: cover;
}

.sbcBorderRad{
    border-radius: 20px;
    padding: 0 15px;
    transition:transform 0.3s ease ;
}
.sbcBorderRad:hover{
    transform: scale(1.05);
}